<h1>File system</h1>

<% if @resources.any? %>
<table class="table">
  <tr>
    <thead>
      <th>Name</th>
      <th>Tags</th>
      <th>UUID</th>
      <th>Size</th>
      <th>Content Type</th>
    </thead>
    <tbody>
      <%- @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= raw generate_tag_link(resource.tag_list) %></td>
        <td><%= resource.filename.filename %></td>
        <td><%= format_file_size(resource.filename.byte_size) %></td>
        <td><%= resource.filename.content_type %></td>
      </tr>
      <%- end %>
    </tbody>
  </tr>
</table>
<% else %>
  <p text="center">There are no files yet</p>
<% end %>

<%= paginate @resources[:files] %>
