<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Up and Running</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Up &amp; Running app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="<%= files_path %>">List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= new_file_path %>">Upload</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="<%= files_path %>">
            <input class="form-control mr-sm-2" type="search" name="filter" placeholder="e.g +tag1 +tag2 -tag4" aria-label="Search" value="<%= params[:filter]%>">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
    <div class="container-fluid main_container">
      <%= yield %>
    </div>
    <%= content_for(:javascript) %>
  </body>
</html>
